.hero {
  background: var(--hero-bg);
  padding: 56px 0 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 35px;
  width: 393px;
}

.background {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}


@media (max-width: 768px) {
  .hero {
    width: 100% !important;
  }

  .background {
    background-color: #FBF9F5 !important;
    height: auto !important;
    min-height: 400px;
  }
}