#root html body{
  height: 103%;
    background-color: oklch(0.85 0.11 66.76 / 0.15);
}
html {
  scroll-behavior: smooth;
}

/* Yeh ensure karega ki navbar ke niche content chup na ho */
section, div[id] {
  scroll-margin-top: 80px; 
}